* { 
    margin: 0px;
    padding: 0px;
    border: 0px;
}
@font-face {
    font-family: 'Semplicita Pro';
    src: url(fonts/semplicita/SemplicitaPro-SemiBold.woff2) format('woff2'),
         url(fonts/semplicita/SemplicitaPro-SemiBold.woff) format('woff'),
         url(fonts/semplicita/SemplicitaPro-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
/* ---------------- VIDEO BACKGROUND [HOME] ----------------*/
.home-video { 
    padding-top: 2.1%;;
    width: 100%;
    height: 100vh;  
}
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}
/* ---------------- CABEÇALHO [HOME]----------------*/
.nav {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(61, 35, 35);
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    align-items: center;
    height: 11%;
    /* object-fit: contain; */
    /* overflow: hidden; */
}
.nav-logo {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 12%;
    height: 100%;
    padding-left: .5%;
    padding-right: .5%;
    background-color: rgb(43, 25, 25);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo img {
    position: relative;
    top:  -10%;
    width: 120%;
}

.nav-itens {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* padding: 2.5%; */
}
.nav-itens li {
    object-fit: contain;
    list-style-type: none;
    color: white;
    padding: 0.6em;
    margin-left: 1.5%;
    font-family:"Semplicita Pro";
    /* font-family:"Open Sans", Arial, Helvetica, sans-serif; */
    font-weight: bold;
    font-size: 1.25em;
    transition: transform 0.3s ease;
}
.nav-botao:hover {
    background-color: rgb(90, 74, 74);
    border-radius: 8px;
    transform: translateY(-2px);    
}
.nav-icon:hover {
    transform: translateY(-3px);    
}
.logo-yt {
    max-width: 45px;

}
.logo-discord {
    max-width: 35px;
    object-fit: contain;
}
.logo-gw2 {
    max-width: 35px;
    object-fit: contain;
}
/* ---------------- TEXT CONTENT BACKGROUNG [HOME] ----------------*/
.texto-conteudo-home {
    z-index: 1;
    width: 96%;
    margin-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
}
.texto-conteudo-home h1 {
    font-family: 'Semplicita Pro', "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 5px #313131;
}
.texto-conteudo-home p {
    width: 60%;
    padding-top: 3%;
    /* text-indent: 3em; */
    font-size: 1.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 242, 215);
    text-shadow: 2px 2px 5px #313131;
}
.botoes {
    width: 50%;
    margin-left: 2%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 179, 37);
    padding-top: 3%;
    height: 10%;
}
.botao-facaparte {
    width: 40%;
    height: 3em;
    background-color: rgba(104, 14, 14, 0.74);
    border: solid 1px;
    border-color: rgba(250, 91, 91, 0.911);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.795);;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 5%;
}
.botao-facaparte:hover {
    background-color: rgb(151, 2, 2);
}
.botao-saibamais {
    width: 23%;
    height: 3em;
    background-color: rgba(53, 46, 46, 0.685);
    border: solid 1px;
    border-color: rgba(241, 143, 31, 0.527);
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.795);;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.botao-saibamais:hover {
    background-color: #81580c;
}

